<div class="post card">
    <div class="card-header">
        <h2>New Post</h2>
    </div>
    <form id="newPostForm" class="card-body">
        <label class="form-label" for="title">Title</label>
        <input type="text" id="postTitle" class="form-input"/>
        <label class="form-label" for="postBody">Text</label>
        <textarea id="postBody" class="form-input"></textarea>
        <button type="submit" id="newPostBtn" class="btn">Create Post</button>
    </form>
</div>

<script src="/Develop/public/js/newpost.js"></script>