<div class="post card">
    {{#each posts}}
    <a class="list-item flex-row justify-content-between" href="/posts/{{this.id}}">
        <span>{{this.title}}</span>
        <span>{{formatDate createAt}}</span>
    </a>
    {{/each}}

</div>